@charset "utf-8";
.map {
	position: absolute;
	top: 15.5555vh;
	bottom: 15.5555vh;
	left: 25vw;
	right: 25vw;
	z-index: 1;
	transition:all 1s;
}
.area-info {
	position: absolute;
	right: 0;
	left: 100%;
	top: 18.8888vh;
	width: 72.5vw;
	z-index: 101;
	overflow: hidden;
	transition:all 1s;
}
.area-info_wrap {
	overflow: hidden;
}
.area-info_wrap>li {
	width: 25vw;
	height: 72vh;
	background-color: #cfd1d2;
	border-radius: 4px;
	padding: 1.25vw 0;
	float: left;
	margin-right: .5vw;
	// overflow-y: scroll;
	box-sizing: border-box;
	position: relative;
}
.scroll-con {
	height: 63vh;
	overflow-y: scroll;
	padding: 0 1.25vw;
	box-sizing: border-box;
}
.area-info_wrap>li .info-tit {
	color: #f60;
	font-size: 1.375vw;
	margin-bottom: 3.6666vh;
}
.area-info_wrap .first-info {
	overflow: hidden;
	width: 18.75vw;
	padding: 1.25vw;
}
.area-info_wrap .first-info .info-tit{color: #339900;} 
.area-info_wrap .info-tit{text-indent: 1.25vw;} 
/*--module1-css-satrt--*/
.first-banner {
	overflow: hidden;
	margin-bottom: 2.2222vh;
}
.first-banner>li {
	width: 100%;
	height: 14.4444vh;
}
.live-btn {
	line-height: 5vh;
	height: 5vh;
	width: 100%;
	color: #fff;
	border-radius: 4px;
	font-size: 1.25vw;
	text-align: center;
	background: url(../images/play.png) no-repeat 4.5vw center;
	background-size: 2.8888vh 2.8888vh;
	background-color: #339900;
	margin-bottom: 5vh;
}
.tit-txt {
	font-size: 1vw;
	line-height: 1.2;
	margin-bottom: 2.2222vh;
}
.txt {
	font-size: 1.25vw;
	font-weight: bold;
	margin-top: 3.3333vh;
}
/*--module2-css-satrt--*/
.second-info_list {
	overflow: hidden;
	margin-bottom: 3.3333vh;
}
.second-info_list_head {
	overflow: hidden;
	margin-bottom: 1vh;
}
.second-info_list_tit {
	overflow: hidden;
	margin-bottom: 2.2222vh;
}
.second-info_list_tit span{
	float: left;
	color: #333;
	font-size: 1.25vw;
}
.second-info_list_tit span:nth-child(2) {
	float: right;
	font-size: 1vw;
	color: #999;
}
.second-info_list .intr {
	color: #333;
	font-size: 1vw;
	line-height: 3.3333vh;
}
.second-info_imgs {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	margin-right: -1.5%;
	margin-left: -1.5%;
}
.second-info_imgs>li {
	width: 30%;
	margin: 0 1.5% 3%;
}
.third-info .intr {
	color: #999;
	font-size: 1vw;
	line-height: 1;
	margin-bottom: 2.2222vh;
}
.third-info span:nth-child(2) {
	color: #333;
	font-size: 1.25vw;
}
.scroll-page::after {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	height: 3vh;
}
.scroll-page::before {
	position: absolute;
	bottom: 0;
	left: 50%;
	content: "";
	z-index: 10;
	display: block;
	width: 1.54vw;
	height: .45vw;
	margin-left: -.77vw;
	background-image: url(../images/down.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.54vw .45vw;
	transition:all 1s;
	animation:down-icon 1s infinite;
}
@keyframes down-icon {
	100% {
		bottom: 0vh;
	}
	0% {
		bottom: 2vh;
	}
	25% {
		bottom: 1.5vh;
	}
	50% {
		bottom: 1vh;
	}
	75% {
		bottom: .5vh;
	}
	
}
.bottom-line {
	height: 5vh;
	background-color: #cfd1d2;
	width: 25vw;
	position: relative;
	z-index: 1000;
	text-align: center;
	line-height: 5vh;
	margin-left: -1.25vw;
}
.bottom-line span {
	position: relative;
}
.bottom-line span:after,.bottom-line span:before {
	position: absolute;
	top: 50%;
	height: 2px;
	content: "";
	display: block;
	width: 3vw;
	left: -4vw;
	background-color: #666;
}
.bottom-line span:after {
	left: auto;
	right: -4vw;
}
/*大数据详情页*/
.map-country {
	height: 70vh;
	width: 100vw;
	margin-top: 15vh;
	transition:all 1s;
	color: #fff!important;
}
.huge-data_bg {
	background-color: rgba(112,208,253,.2);
	border-radius: 20px;
	padding: 30px;
	border: 1px solid rgba(112,208,252,1);
	box-sizing: border-box;
}
.big-details{
	color: #fff!important;
	font-size: 1.5vw;
	display: flex;
	padding-top: 5vh;
}
.flex{
	flex: 1;
}
.gendi h1,.zhuce h1{
	font-weight: 800;
	font-size: 1.2vw;
}
.gendi .acreage{
	width: 100%;
	text-align: center;
	padding: 6vw 0;
	font-size: 6vw;
	color: #b93733!important;
	font-weight: 700;
}
.gendi .acreage span{
	color: #fff!important;
	font-size: 1.2vw;

}
.annular{
	width: 100%;
	overflow: hidden;
}
.annular>div{
	width: 100%;
	height: 8vw;
	float: left;
}
#sqmap{
	width: 20vw;
	height: 20vw;
	// background: #fff;
}
.zhuceTop{
	padding-top: 2vw;
	overflow: hidden;
}
.zhuceTop .renshu{
	float: left;
	width: 40%;
	margin-right: 10%;
	height: 8vw;
	line-height: 8vw;
	text-align: center;
	background: url(../images/r.png) no-repeat center center;
	background-size: 8vw 
}
.zhuceTop #huanx{
	float: left;
	width: 50%;
	height: 8vw;
}
.zhuceBot{
	padding-top: 4vw;
}
.zhuceBot ul{
	padding-top: 2vw;
}
.zhuceBot li{
	overflow: hidden;
	margin-bottom: 1vw;
	font-size: 1vw;
	line-height: 1vw;
	color: #ddd;
}
.zhuceBot li span,.zhuceBot li p{
	float: left;
}
.zhuceBot li p{
	width: 14vw;
	height: 1.8vw;
	background: #fff url(../images/xiexian.png);
	position: relative;
	border-radius: 3px 3px;
	background-size: 5px 5px;
}
.zhuceBot li p:after{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top : 0;
	height: 1.8vw;
	width: 20%;
	background: #2e4150;
}
.zhuceBot li span{
	margin: 1vh 2vh;
}
.zhuceBot li span:first-child{
	margin-right: 1vh;
	margin-left: 0;
}